/* src/components/Notification/notification.module.css */
.notification {
  position: fixed;
  top: 20px;
  right: -100%; /* Start off-screen */
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  z-index: 1000;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, right 0.5s ease-in-out;
  opacity: 0;
}

.notification.show {
  right: 20px; /* Move to visible position */
  opacity: 1;
}

.notification.hide {
  transform: translateX(100%);
  opacity: 0;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  margin-right: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}